<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>Welcome to Home Page</h1>
<ul>
    <li><a href="/members.html">Members</a></li>
    <li><a href="/order.html">Order</a></li>
    <li><a href="/order_search.html">Order Search</a></li>
    <li><a href="/order_stats.html">Order Stats</a></li>
</ul>
<script src="/static/js/app.js"></script>
</body>
</html>
