<!doctype html><html lang=""><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>frontend</title>
    <script defer="defer" src="/js/chunk-vendors.a382cca9.js"></script>
    <script defer="defer" src="/js/app.cb271e1f.js"></script>
    <link href="/css/app.1c33ec43.css" rel="stylesheet"></head>
    <body>
    <noscript><strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
    <div id="app"></div>
    <div>
    <ul>
        <li><a href="/members.html">Members</a></li>
        <li><a href="/order.html">Order</a></li>
        <li><a href="/order_search.html">Order Search</a></li>
        <li><a href="/order_stats.html">Order Stats</a></li>
    </ul>
    </div>
    </body>
</html>